@font-face {
  font-family: 'iconfont';  /* project id 1690199 */
  src: url('//at.alicdn.com/t/font_1690199_bj6k7d5eak.eot');
  src: url('//at.alicdn.com/t/font_1690199_bj6k7d5eak.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1690199_bj6k7d5eak.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1690199_bj6k7d5eak.woff') format('woff'),
  url('//at.alicdn.com/t/font_1690199_bj6k7d5eak.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1690199_bj6k7d5eak.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .iconcaidan:before {
  content: "\e600";
} */
